@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'prism-themes/themes/prism-night-owl.css';
@import './prism.css';
@import './github-markdown.css';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--background);
  background: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 24px;
}

.link {
  position: relative;
  overflow: hidden;
}

.link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  /* 下划线的高度 */
  background: rgb(71, 43, 103);
  /* 下划线的颜色 */
  transform: translateX(100%);
  transition: transform 0.3s ease;
}

.link:hover::after {
  transform: translateX(0);
}

.link:not(:hover)::after {
  transform: translateX(-100%);
}