#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


/* 表单对齐 */
label {
  display: inline-block;
  width: 100px;
  text-align-last: right;
}

input {
  border-radius: 8px;
  padding: 0.6em 1.2em;
  margin: 2px 1em;
}

p {
  font-size: 1em;
  text-decoration: underline;
}

/* switch 样式 */

.switch {
  width: 80px;
  height: 30px;

  /* 清除checkbox原有的样式 */
  -webkit-appearance: none;
  appearance: none;

  /* 增加背景色 */
  background-color: rosybrown;

  /* 边框 */
  border: 2px solid rgba(0, 0, 0, 0.2);

  position: relative;
}

.switch::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 26px;
  width: 30px;
  background-color: rgb(209, 216, 223);
  border-radius: 35%;
  transition: all 0.35s ease-in-out;
}

/* :checked =>  复选框被选中时，执行 */
.switch:checked {
  background-color: rgb(138, 101, 152);
}

.switch:checked::before {
  left: calc(100% - 30px);
}