#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 4em;
  padding: 1em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}


button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #efececb4;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.remove-button {
  margin-left: 1em;
}

.remove-button:hover {
  background-color: #b46767;
}

.card {
  padding: 1em;
  margin: 1em 1em;
  background-color: rgba(231, 230, 239, 0.227);
  border-radius: 10px;
}

img {
  width: 100%;
  height: 300px;
}

h4,
p {
  margin: 0.5em;
}

.read-the-docs {
  color: #888;
}

.card-container {
  display: flex;
}

.cart {
  border: 1px solid rgb(0, 0, 0);
}

.cart-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-header {
  border-bottom: 1px solid rgb(0, 0, 0);
}

.cart-img {
  width: 10%;
  height: 100px;
}

.cart-item-details {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cart-item-quantity {
  display: flex;
  align-items: center;
}

.cart-total {
  border-top: 1px solid rgb(0, 0, 0);
}